<!doctype html>
<html lang='en'>
<head>
   <meta charset='UTF-8'>
   <title>{{  title  }}</title>
   <link rel='stylesheet' href='/stylesheets/style.css'>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
   integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet'>
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:700|Ubuntu+Condensed" rel="stylesheet">
   <script
			  src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
        <script
      			  src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"
      			  integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE="
      			  crossorigin="anonymous"></script>
</head>
<body>
   {{{  body  }}} <!-- important its a hook -->
</body>
</html>
