<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" style='margin-left:100px;' href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav" style='margin-left:-350px;'>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Ανακοινωσεις</a>
        </li>
        <li class="nav-item" style='margin-left:20px;'>
          <a class="nav-link" href="#">Επικοινωνεια</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class='container-fluid main-content'>
   <div class='row'  style='padding-top:180px;'>
     <div class='space-tab'>
     </div>
     <div class='tabs tab-s'>
       <p>ΔΡΟΜΟΛΟΓΙΑ</p>
     </div>
     <div class='tabs tab-s active'>
         <p>ΕΚΠΤΩΣΕΙΣ</p>
     </div>
     <div class='tabs tab-s'>
        <p>ΥΠΗΡΕΣΙΕΣ</p>
     </div>
     <div class='tabs tab-s'>
       <p>ΣΥΝΔΕΣΕΙΣ</p>
     </div>
  </div>
  <div class='row'>
    <div class='space-tab'>
    </div>
    <div class='tab-content tab-content-s'>
    </div>
    <div class='col-lg-2 more-info'>
      <div>
        <p style='padding:20px 30px 5px 30px;font-size:22px;color:#FFFFFF;text-align:center;'><b>ΤΟ ΕΠΟΜΕΝΟ ΕΙΣΗΤΗΡΕΙΟ ΜΕ ΛΙΓΟΤΕΡΟ</b></p>
        <p style='padding:0px 30px 0px 30px;font-size:15px;color:#FFFFFF;text-align:center;'>ΕΙΔΙΚΕΣ ΠΡΟΣΦΟΡΕΣ ΩΣΤΕ ΝΑ ΚΕΡΔΙΖΕΙΣ ΜΕΧΡΙ ΚΑΙ 60%</p>
        <a href='#' style='border:1px solid white;margin-left:55px;padding:5px 15px 5px 15px;border-radius:10px;font-size:13px;color:#FFFFFF'>ΠΡΟΣΦΟΡΕΣ ΕΔΩ</a>
      </div>
    </div>
  </div>
</header>
<div class='container-fluid main-story'>
  <h1><b>ΕΙΜΑΣΤΕ ΕΔΩ ΓΙΑ <i>ΕΣΑΣ</i></b></h1>
  <p>Η ΚΤΕΛ Τρικάλων Α.Ε. εξυπηρετεί συγκοινωνιακά την περιοχή των Τρικάλων. Με τα δρομολόγια της
    συνδέει τα Τρίκαλα με τα αστικά κέντρα της χώρας αλλά και με κάθε άλλη περιοχή της Ελλάδας. Συνδέει επίσης
    τα χωριά του νομού με τα Τρίκαλα.  Μεταφέρει καθημερινά χιλιάδες επιβάτες, πολίτες του νομού αλλά και επισκέπτες και τουρίστες.
    Παράλληλη δραστηριότητα της αποτελεί η μεταφορά δεμάτων.
</p>
</div>
<section>
  <div class='container-fluid'>
    <div class='row'>
      <div class='col-lg-3 info-foot-container plep' id='plep'>
        <div class='info-foot' >
          <p class='plep3'>ΠΛΗΡΟΦΟΡΙΕΣ ΓΙΑ ΕΠΙΒΑΤΕΣ</p>
          <i class="fa fa-info-circle fa-4x plep2" style='color:#313131'aria-hidden="true"></i>
          <p class='plep1'>Κανονισμός Δικαιωμάτων Επιβατών τακτικών και έκτακτων γραμμών με οδικά μέσα δημόσιας μεταφοράς (Λεωφορεία) </p>
        </div>
     </div>
     <div class='col-lg-3 info-foot-container tota' id='tota'>
        <div class='info-foot' >
          <p class='tota3'>ΤΟΥΡΙΣΜΟΣ-ΤΑΞΙΔΙΑ</p>
          <i class="fa fa-bus fa-4x tota2" style='color:#313131'aria-hidden="true"></i>
          <p class='tota1'>Το Ταξιδιωτικό Γραφείο ΥΠΕΡ TOURS, με έδρα τα Τρίκαλα και σχεδόν 30 χρόνια δραστηριότητας, προσφέρει ολοκληρωμένες υπηρεσίες σε κάθε ταξιδιώτη.</p>
        </div>
     </div>
     <div class='col-lg-3 info-foot-container onei' id='onei'>
        <div class='info-foot'>
          <p class='onei3'>ONLINE ΕΙΣΗΤΗΡΕΙΑ</p>
          <i class="fa fa-ticket fa-4x onei2" style='color:#313131'aria-hidden="true"></i>
          <p class='onei1'>Μπορειτε πλεον να κρατατε τις θεσεις  χωρις να χριαζεται να τρεχεται στο σταθμο μας απο την ανεση του σπιτιου σας</p>
        </div>
      </div>
      <div class='col-lg-3 info-foot-container mepa' id='mepa'>
        <div class='info-foot'>
          <p class='mepa3'>ΜΕΤΑΦΟΡΕΣ ΠΑΚΕΤΩΝ</p>
          <i class="fa fa-cubes fa-4x mepa2" style='color:#313131'aria-hidden="true"></i>
          <p class='mepa1'>Θελετε να στειλετε σε καποιον ενα πακετο αλλα δεν εχετε χρονο να ταξιδεψετε?
            Κανενα προβλημα, με την υπηρεσια αποστολης δεματων μπορειται αμεσα να στειλετε οτιδηποτε θελετε σε χαμηλο κοστος</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class='container-fluid testimonial'>
  <h1 style='text-align:center;font-size:30px;margin-top:100px;'><b>Η ΓΝΩΜΗ ΤΟΥ ΠΕΛΑΤΗ ΜΕΤΡΑΕΙ</b></h1>
  <blockquote style='padding:0px 0px 0px 15px;margin:50px 200px 100px 200px;border-left:2px solid #007AFF;'><i>"Το ΚΤΕΛ Τρικάλων είναι, ειδικά για όσους γεννήθηκαν σε κάποιο ορεινό ή
     ημιορεινό χωριό συνδεδεμένο με τις μετακινήσεις των παιδικών - μαθητικών μας χρόνων …..… για όλους σχεδόν
    τους Τρικαλινούς αποτέλεσε κάποτε το μόνο μέσο μετακίνησης για τον "έξω κόσμο", για Αθήνα, Θεσσαλονίκη, Λάρισα, Καρδίτσα."</i></blockquote>
</div>
<div class='container-fluid find-us'>
 <div class='row'>
   <div class='col-lg-4 fb'>
     <i class="fa fa-facebook-square fa-5x" aria-hidden="true"></i>
   </div>
   <div class='col-lg-4 yt'>
     <i class="fa fa-youtube fa-5x" aria-hidden="true"></i>
   </div>
   <div class='col-lg-4 gm'>
     <i class="fa fa-map fa-5x" aria-hidden="true"></i>
   </div>
 </div>
</div>
<hr>
<footer>
  <div class='container-fluid' style='height:385px;background-color:#FAFAFA;margin-top:-15px;'>
    <div class='row'>
      <div class='col-lg-1'>
      </div>
      <div class='col-lg-3 footer-content'  style='border-right:1px solid #929292;height:250px;margin-top:75px;'>
          <p><b>Η ΕΤΑΙΡΙΑ ΜΑΣ</b></p>
          <p>ΠΡΟΦΙΛ</p>
          <p>ΥΠΗΕΡΕΣΙΕΣ</p>
          <p>ΚΑΝΟΝΙΣΜΟΙ ΛΕΙΤΟΥΡΓΙΑΣ</p>
      </div>
      <div class='col-lg-1'>
      </div>
      <div class='col-lg-3 footer-content-mid'  style='border-right:1px solid #929292;height:250px;margin-top:75px;'>
          <p><b>ΛΟΙΠΕΣ ΥΠΗΡΕΣΙΕΣ</b></p>
          <p>ΥΠΗΡΕΣΙΕΣ ΣΤΑΘΜΟΥ</p>
          <p>ΑΣΥΝΟΔΕΥΤΑ ΔΕΜΑΤΑ</p>
      </div>
      <div class='col-lg-1'>
      </div>
      <div class='col-lg-3 footer-content-end'  style='height:250px;margin-top:75px;'>
          <p><b>ΕΠΙΚΟΙΝΩΝΕΙΑ</b></p>
          <address>  ΤΡΙΚΑΛΑ: (+30) 24310 73130<br>
           ΚΑΛΑΜΠΑΚΑ: (+30) 24320 22432<br style='margin-top:4px'>
           ΑΘΗΝΑ: (+30) 210 8311434<br style='margin-top:4px'>
           ΘΕΣ/ΝΙΚΗ: (+30) 2310 595405<br style='margin-top:4px'>
           ΠΑΤΡΑ: (+30) 2610 623888<br style='margin-top:4px'>
           ΙΩΑΝΝΙΝΑ: (+30) 26510 27442<br style='margin-top:4px'>
           ΛΑΡΙΣΑ: (+30) 2410 610124<br style='margin-top:4px'>
           ΒΟΛΟΣ: (+30) 24210 33253</address>
      </div>
    </div>
  </div>
  <div class='container-fluid' style='height:120px;background-color:#BABABA;'>
  </div>
</footer>
<script>
 $(document).ready(function(){

 //FUNCTION AREA <---------------------------> :D

   function showHisContent(x){
     var option=document.getElementsByClassName('active-p')[0].innerHTML;
     console.log(option);
     if(option=='ΔΡΟΜΟΛΟΓΙΑ'){
       document.getElementsByClassName('tab-content')[0].innerHTML='dromologia';
     }
     else if(option=='ΣΥΝΔΕΣΕΙΣ'){
         document.getElementsByClassName('tab-content')[0].innerHTML='syndeseis';
     }
     else if(option=='ΥΠΗΡΕΣΙΕΣ'){
       document.getElementsByClassName('tab-content')[0].innerHTML='yphresies';
     }
     else{
       document.getElementsByClassName('tab-content')[0].innerHTML='ekptwseis';
     }
   }



   function fadeInOut(imageUrl){
     $('.'+imageUrl).hover(function(){
       $(this).animate({
         opacity:'0.8',
       },250,function(){
         $(this).removeClass(imageUrl);
         $(this).animate({
           opacity:'1',
           backgroundColor:'#007AFF'
         },250);
         $('info-foot p').css('color','white');
         $('.'+imageUrl+'1').css('color','white');
         $('.'+imageUrl+'3').css('color','#FFFFFF');
         $('.'+imageUrl+'2').css('color','#0067DD');
         $('.'+imageUrl+'1').fadeIn(150);
         $('.'+imageUrl+'2').fadeIn(150);
       });
     },function(){
       $(this).animate({
         opacity:'0.8',
       },250,function(){
         $(this).addClass(imageUrl);
         $(this).animate({
           opacity:'1',
           backgroundColor:'#007AFF'
         },250);
         $('info-foot p').css('color','black');
         $('.'+imageUrl+'3').css('color','#000000');
         $('.'+imageUrl+'1').fadeOut(0);
         $('.'+imageUrl+'2').fadeOut(0);
       });

     });
   }
   //END OF FUNCTION AREA <-------------------------> :)


   //MAIN PROGRAMM


   $('.plep').hover(fadeInOut('plep'));
   $('.mepa').hover(fadeInOut('mepa'));
   $('.onei').hover(fadeInOut('onei'));
   $('.tota').hover(fadeInOut('tota'));
   $('.tabs').click(function(){
    $('.main-content').find('.active').find('p').removeClass('active-p');
    $('.main-content').find('.active').removeClass('active');
    $(this).addClass('active');
    $(this).find('p').addClass('active-p');
    showHisContent();
  });

});
</script>
